/* general page styling */

html,
body {
  height: 100vh;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* github-corner code */
/* from https://github.com/tholman/github-corners  */
.github-corner:hover .octo-arm {
  animation: octocat-wave 560ms ease-in-out;
}
@keyframes octocat-wave {
  0%,
  100% {
    transform: rotate(0);
  }
  20%,
  60% {
    transform: rotate(-25deg);
  }
  40%,
  80% {
    transform: rotate(10deg);
  }
}
@media (max-width: 500px) {
  .github-corner:hover .octo-arm {
    animation: none;
  }
  .github-corner .octo-arm {
    animation: octocat-wave 560ms ease-in-out;
  }
}

/* clock-face section */

.clock-face {
  display: flex;
  font-size: 300%;
}

.short {
  display: flex;
  flex-direction: column;
  height: 50%;
}

.colon {
  height: 50%;
  display: flex;
  justify-content: right;
  font-size: 175%;
  font-weight: bold;
}

.time {
  font-size: 200%;
}
